<?xml version="1.0" encoding="utf-8"?>
     <configuration>
     <system.webServer>
       <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python38\python.exe|C:\Python38\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
       </handlers>
        <security>
            <authentication>
                <anonymousAuthentication userName="christinazhang2013@gmail.com" password="[enc:IISCngProvider:YJikVlilHPCC4IpAae7mxj8aTnSz4lkOlaTai8A1f99YT6hlI0yxoYQbiRc7HnL7KInHyWELFBR24gxU77dUIZDepe/h/9dAUpIK4g+C/pg=:enc]" />
            </authentication>
        </security>
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="app.app" />
       <add key="PYTHONPATH" value="C:\Python38\python38.zip; C:\Python38\DLLs; C:\Python38\lib; C:\Python38; C:\Users\chris\Downloads\RequestsLog-master\RequestsLog-master\env; C:\Users\chris\Downloads\RequestsLog-master\RequestsLog-master\env\lib\site-packages" />
     </appSettings>
     </configuration>