html {
	scroll-behavior: smooth;
}
body {
	padding: none;
	margin: none;
}
@media (max-width: 625px) {
	.site-top-Title .mobile{
		 font-weight: 700;
		 margin: .1em 0 .1em;
		 display: block;
		 font-family: inherit;
		 line-height: 1.1;
		 font-size: 2.75rem;
		 text-rendering: optimizelegibility;
		 background-color: #FFF;
		 box-sizing: border-box;
		 color: #0c2340;
		 cursor: pointer;
		 text-align: center;
	}
}
@media (max-width: 625px) { 
	.site-top-Title .web{
		 display: none; 
	}
}
@media (min-width: 626px) { 
	.site-top-Title .mobile{
		 display: none; 
	}
}
@media (min-width: 626px) { 
	.site-top-Title .web{
		 font-weight: 700;
		 margin: .3em 0 .1em;
		 display: block;
		 font-family: inherit;
		 line-height: 1.1;
		 font-size: 2.75rem;
		 text-rendering: optimizelegibility;
		 background-color: #FFF;
		 box-sizing: border-box;
		 color: #0c2340;
		 cursor: pointer;
	}
}
 #site-top, #site-content {
	 margin-top: 2em;
}
 .site-footer {
	 background-color: #eee; 
	 padding: 1em 0 0 0;
}
.site-footer-fixedToBottom {
	 position: fixed;
	 width: 100vw;
	 bottom: 0px;
}
 .content-caption {
	 font-size: 0.75rem;
}
 #PageNav {
	 vertical-align: center; 
	 background: #d9d9d9;
	 margin: 0;
	 text-align: center;
	 position: relative;
}
 #PageNav li {
	 vertical-align: center; 
	 display: inline-flex;
	 margin: 0;
	 position: relative;
	 color: #fff;
	 padding: 5px 10px;
	 cursor: default	 
}

#PageNav li:nth-child(2n+1) a {
   background-color: #0c2340;
}

#PageNav li:nth-child(2n+2) a {
   background-color: #D14905;
}

 #PageNav li a {
	 border-bottom: none;
	 color: #fff;
	 padding: 8px;
}
 #PageNav li a:hover {
	 color: #D9D9D9;
}

/**********Site Forms*********/
.form-style-1{
	position: relative; 
	top: 10px;
	max-width: 100%;
	flex: 0 0 100%;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #0c2340;
	padding: 20px;
	background: #f3f3f3;
}

.form-style-1 formtitle{
	position: relative; 
	top: -35px;
	color: #0c2340;
	border-top: 1px solid #0c2340;
	border-left: 1px solid #0c2340;
	border-right: 1px solid #0c2340;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #f3f3f3;
	padding: 4px 10px 4px 10px;
	font-weight: normal;
	font-style: italic;
	font-size: 15px;
}

.form-style-1-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	background:#0c2340;
	color:#ff5500;
	font-size: 15px;
	padding: 6px;
}
.form-style-1 label{
	display: block;
	margin: 0px 0px 0px 0px;
}
.form-style-1 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-1 span.required{
	color:red;
}
.form-style-1 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-1 input.input-field, input.readonly-input-field, .form-style-1 .readonly-textarea-field, .form-style-1 .select-field{
	width: 75%;	
}
.form-style-1 input.input-field, 
.form-style-1 .tel-number-field, 
.form-style-1 .textarea-field, 
.form-style-1 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #0c2340;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-1 input.readonly-input-field,
.form-style-1 .readonly-textarea-field{
	background: #f8f8f8;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #d6d6d6;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}

.form-style-1 .input-field:focus, 
.form-style-1 .tel-number-field:focus, 
.form-style-1 .textarea-field:focus,  
.form-style-1 .select-field:focus{
	border: 1px solid rgb(0, 143, 24);
}
.form-style-1 .textarea-field, 
.form-style-1 .readonly-textarea-field{
	height:100px;
	width: 75%;
}
.form-style-1 input[type=submit],
.form-style-1 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #ff5500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover{
	background: #d63d00;
	color: #D9D9D9;
}
