{% extends "site_base_layout.html" %}

{% block title %}All Requests{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">

	<a href="/">
		<image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10%>

	</a>
	<div class="col-sm-12">
		<h1>UTSA OIR Data Requests</h1>
		<p>Description placeholder</p>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-12 text-sm-center">

			{% for i in df %}


			<div class="person">

				<pre
					class="line">Total Jobs For:      {{i}}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     </pre>

				<hr class="dottedLine">


			</div>

			{% for x in db %}
			{% if x[16] == i %}




			<pre class="rightSec">   {{x[11]}}   </pre>

			<div class="vl"></div>




			<pre class="line">Assigned To:          {{x[16]}}   </pre>

			<pre class="line">Job Number:          {{x[1]}}  </pre>

			<pre class="line">Requestor:             {{x[4]}}    </pre>

			<pre class="line">Priority:                 {{x[17]}}       </pre>

			<pre class="line">Due Date:              {{x[3]}}    </pre>

			<pre class="line">Days Open:        </pre>

			<hr class="dottedLine">





			{% endif %}
			{% endfor %}
			{% endfor %}


		</div>
	</div>
</div>
<!-- end page content -->
{% endblock %}