{% extends "site_base_layout.html" %}

{% block title %}All Requests{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">

	<a href="/">
		<image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10%>

	</a>
	<div class="col-sm-12">
		<h1>UTSA OIR Data Requests</h1>
		<p>All Request by Analyst</p>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-12 text-sm-center">

			{% for analyst in analystList %}

			{% set a_fullname = analyst[7] %}
			{% set a_firstname = analyst[1] %}
			{% set a_lastname = analyst[2] %}

			<!--To calculate the number of requests per analyst-->
			{% set total_req = namespace(value=0) %}
			{% for x in db %}
			{% if x[16] != None %}
			{% set db_assignedTo = x[16] %}
			{% set splitname = db_assignedTo.split() %}
			{% if(( x[16] == a_fullname ) or ( a_lastname == splitname[1] and a_firstname == splitname[0] )) %}
			{% set total_req.value = total_req.value + 1 %}
			{% endif %}
			{% endif %}
			{% endfor %}

			<!--Accordian structure-->
			<div id="accordion-{{ loop.index }}" role="tablist">
				<div class="card">
					<div class="card-header" role="tab" id="heading-{{ loop.index }}">
						<h5 class="mb-0">
							<a data-toggle="collapse" href="#collapse-{{ loop.index }}" aria-expanded="true"
								aria-controls="collapse-{{ loop.index }}">
								<!--{{ i }} | Total Requests: {{ total_req.value }}-->

								{{ analyst[7] }} | Total Requests: {{ total_req.value }}
							</a>
						</h5>
					</div>

					<div id="collapse-{{ loop.index }}" class="collapse" role="tabpanel"
						aria-labelledby="heading-{{ loop.index }}" data-parent="#accordion-{{ loop.index }}">
						<!--Card subsection for every request matching the analyst-->
						{% for x in db %}
						{% if x[16] != None %}
						{% set db_assignedTo = x[16] %}
						{% set splitname = db_assignedTo.split() %}
						{% if(( x[16] == a_fullname ) or ( a_lastname == splitname[1] and a_firstname == splitname[0] ))
						%}
						<div class="card-body">
							{{x[11]}}<br><br>

							Job Number: {{x[1]}}<br>
							Requestor: {{x[4]}}<br>
							Priority: {{x[17]}}<br>
							Due Date: {{x[3]}}<br>
							Days Open: <br>
							<hr style="height:2px;border-width:0;color:gray;background-color:gray">
						</div>
						{% endif %}
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			{% endfor %}


		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!-- end page content -->
{% endblock %}