{% extends "site_base_layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">
	<image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10% href="/">
		<div class="col-sm-12">
			<h1>UTSA OIR Data Requests</h1>
			<p>Open Data Requests by Analyst</p>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-12 text-sm-center">
				<img src="/plot.png" alt="Requests Table">
			</div>
		</div>
</div>
<!-- end page content -->
{% endblock %}