{% extends "site_base_layout.html" %}

{% block title %}Update Status{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- begin page content -->
<div class="row">

    <a href="/">
        <image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10%>

    </a>
    <div class="col-sm-12">
        <h1>UTSA OIR Data Requests</h1>
        <p>Some description here</p>
    </div>
    {% for x in db and reviewdb %}
    {% if x[1] == formID %}
    <!--Specify that the form should post its data
            to the /update route. We will also prepopulate the data.-->

    <!--For fetching rqstTitle-->
    {% if x[13] != None %}
    {% set request_title = x[13] %}
    {% endif %}
    <!--If rqstTitle null, fetch rqstURL-->
    {% if x[13] == None %}
    {% set request_title = x[10] %}
    {% endif %}


    <!--For finding priority request code-->
    {% set priorityCodeWord = namespace(word="None") %}
    {% if x[17] != None %}
    {% set xpcid = x[17].strip() %}
    {% for pc in prioritydb %}
    {% if xpcid == pc[0].strip() %}
    {% set priorityCodeWord.word = pc[1].strip() %}
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="form-style-1">
        <formtitle>Status Update Form</formtitle>
        <form method="POST" action="./updateStatus">
            <!--Requestor section-->
            <section>
                <div class="form-style-1-heading">Requestor</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="requestor"><span>Name:</span></label><input type="text" id="requestor"
                                value="{{x[4]}}" class="readonly-input-field" readonly>
                            <label for="organization"><span>Organization:</span></label><input type="text"
                                id="organization" value="{{x[6]}}" class="readonly-input-field" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label for="phone"><span>Phone:</span></label><input type="text" id="phone" value="{{x[7]}}"
                                class="readonly-input-field" readonly>
                            <label for="email"><span>Email:</span></label><input type="text" id="email" value="{{x[9]}}"
                                class="readonly-input-field" readonly>
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br>

            <!--Request section-->
            <section>
                <div class="form-style-1-heading">Request</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="formid"><span>Request ID:</span></label><input type="text" id="formid"
                                value="{{formID}}" name="formID" class="readonly-input-field" readonly>
                            <label for="datesubmitted"><span>Submitted on:</span></label><input type="text"
                                id="datesubmitted" value="{{x[2]}}" class="readonly-input-field" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label for="title"><span>Request Title:</span></label><input type="text" id="title"
                                value="{{request_title}}" class="readonly-input-field" readonly>
                            <label for="duedate"><span>Due Date:</span></label><input type="text" id="duedate"
                                value="{{x[3]}}" class="readonly-input-field" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="status"><span style="width: 60px;">Status:</span>
                                        <select id="status" name="newStatus" class="select-field" style="width: 50%;">
                                            <option value="{{x[22]}}">{{x[22]}}</option>
                                            {% for st in statusdb %}
                                            <option value="{{st[1].strip()}}">{{st[1].strip()}}
                                            </option>
                                            {% endfor %}
                                        </select></label>
                                </div>
                                <div class="col-sm">
                                    <label for="priority"><span style="width: 60px;">Priority:</span>
                                        <select id="priority" name="newPriority" class="select-field"
                                            style="width: 50%;" readonly>
                                            <option value="{{x[17]}}">{{priorityCodeWord.word}}</option>
                                            {% for pc in prioritydb %}
                                            <option value="{{pc[0].strip()}}">{{pc[0].strip()}}: {{pc[1].strip()}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="assignanalyst"><span>Assigned To:</span></label><input type="text"
                                id="assignanalyst" value="{{x[16]}}" class="readonly-input-field" style="width: 60%;"
                                readonly>
                        </div>
                    </div>
                    <br>
                    <label for="description"><span>Description:</span></label><textarea id="description"
                        class="readonly-textarea-field" readonly>{{x[11]}}</textarea>
                    <label for="notes"><span>Notes:</span></label><textarea id="notes" value="{{x[19]}}" name="newNotes"
                        class="textarea-field">{{x[19]}}</textarea>

                    <input type="submit" value="Update Status and/or Deadline">
                </div>
            </section>
            <br><br><br>

        </form>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
</div>
<!-- end page content -->
{% endblock %}