{% extends "site_base_layout.html" %}

{% block title %}Status Update{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">

	<a href="/">
		<image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10%>

	</a>
	<div class="col-sm-12">
		<h1>UTSA OIR Data Requests</h1>
		<p>Description placeholder</p>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-12 text-sm-center">

			Status Update Placeholder


		</div>
	</div>
</div>
<!-- end page content -->
{% endblock %}