{% extends "site_base_layout.html" %}

{% block title %}Unassigned{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">

	<a href="/">
		<image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10%>

	</a>
	<div class="col-sm-12">
		<h1>UTSA OIR Data Requests</h1>
		<p>Unassigned Requests</p>
	</div>
	<div class="col-sm-8">
		<div class="col-sm-12 text-sm-center">
			{% for x in db %}
			{% if x[16] == None %}
			<div id="accordion-{{ loop.index }}" role="tablist">
				<div class="card">
					<div class="card-header" role="tab" id="heading-{{ loop.index }}">
						<h5 class="mb-0">
							<a class="collapsed" data-toggle="collapse" href="#collapse-{{ loop.index }}"
								aria-expanded="true" aria-controls="collapse-{{ loop.index }}">

								<!--<i class="fa fa-angle-down rotate-icon"></i>-->
								<!--For fetching rqstTitle-->
								{% if x[13] != None %}
								{{x[13]}}
								{% endif %}
								<!--If rqstTitle null, fetch rqstURL-->
								{% if x[13] == None %}
								{{x[10]}}
								{% endif %}

								<!--For finding priority request code-->
								{% set priorityCodeWord = namespace(word="None") %}
								{% if x[17] != None %}
								{% set xpcid = x[17].strip() %}
								{% for pc in prioritydb %}
								{% if xpcid == pc[0].strip() %}
								{% set priorityCodeWord.word = pc[1].strip() %}
								{% endif %}
								{% endfor %}
								{% endif %}
							</a>
						</h5>
					</div>

					<div id="collapse-{{ loop.index }}" class="collapse" role="tabpanel"
						aria-labelledby="heading-{{ loop.index }}" data-parent="#accordion-{{ loop.index }}">
						<div class="card-body">
							<label for="description"><span>Description:</span></label><textarea id="description"
								class="readonly-textarea-field" readonly>{{x[11]}}</textarea>

							<label for="formid"><span>Request ID:</span></label><input type="text" id="formid"
								value="{{x[1]}}" name="formID" class="readonly-input-field" readonly>
							<label for="requestor"><span>Requestor:</span></label><input type="text" id="requestor"
								value="{{x[4]}}" class="readonly-input-field" readonly>
							<label for="priority"><span>Priority:</span></label><input type="text" id="priority"
								value="{{priorityCodeWord.word}}" class="readonly-input-field" readonly>
							<label for="duedate"><span>Due Date:</span></label><input type="text" id="duedate"
								value="{{x[3]}}" class="readonly-input-field" readonly>

							<br><br>

							<script type="text/javascript">
								function showForm(unassignedID) {
									window.location = 'unassignedForm?form=' + unassignedID;
								}
							</script>

							<input type="button" name="theButton" value="Edit Form and Assign Analyst"
								onclick="showForm('{{x[1]}}');">
						</div>
					</div>
				</div>
			</div>

			{% endif %}
			{% endfor %}

		</div>
	</div>
	<!--Second panel - show current jobs/workload for each analyst-->
	<div class="col-sm-4">
		<div class="col-sm-12">
			<table class="assignedTable">
				<colgroup>
					<col>
					<col>
					<!--<thead class="banner-heading">
					<tr>
						<th>Currently Assigned Requests
					</tr>
				</thead>-->
				<thead>
					<tr>
						<th>Analyst
						<th>Number of Requests
				</thead>
				<tbody>
					<!--TOP LEVEL: For each item (analyst) in the analystList, which was passed to this page by app.py-->
					<!--For sorting reference: https://jinja.palletsprojects.com/en/2.11.x/templates/#sort-->
					{% for analyst in analystList|sort(attribute="lastName") %}

					{% set a_fullname = analyst[3] %}
					{% set a_firstname = analyst[1] %}
					{% set a_lastname = analyst[2] %}

					<!--To calculate the number of requests per analyst-->
					{% set total_req = namespace(value=0) %}
					{% for x in db_and_reviewdb %}
					<!--If an analyst exists for the request (value is not NULL)-->
					{% if x[16] != None %}
					{% set db_assignedTo = x[16] %}
					<!--Split the first and last name so we can match against firstName and lastName column in assignedTo table-->
					{% set splitname = db_assignedTo.split() %}
					<!--Extra safety - if either the full name matches the full analyst name
			OR the first name matches analyst[1] (a_firstname) AND last name matches analyst[2] (a_lastname),
		    then count that request as being assigned to that analyst-->
					{% if(( x[16] == a_fullname ) or ( a_lastname == splitname[1] and a_firstname == splitname[0] )) %}
					{% set total_req.value = total_req.value + 1 %}
					{% endif %}
					{% endif %}
					{% endfor %}
					<tr>
						<td>{{a_lastname}}, {{a_firstname}}
						<td>{{total_req.value}}
							{% endfor %}
			</table>
		</div>
	</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!-- end page content -->
{% endblock %}