{% extends "site_base_layout.html" %}

{% block title %}Unassigned{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">

	<a href="/">
		<image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10%>

	</a>
	<div class="col-sm-12">
		<h1>UTSA OIR Data Requests</h1>
		<p>Unassigned Requests</p>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-12 text-sm-center">
			{% for x in db %}
			{% if x[16] == None %}
			<div id="accordion-{{ loop.index }}" role="tablist">
				<div class="card">
					<div class="card-header" role="tab" id="heading-{{ loop.index }}">
						<h5 class="mb-0">
							<a class="collapsed" data-toggle="collapse" href="#collapse-{{ loop.index }}"
								aria-expanded="true" aria-controls="collapse-{{ loop.index }}">

								<!--<i class="fa fa-angle-down rotate-icon"></i>-->
								<!--For fetching rqstTitle-->
								{% if x[13] != None %}
								{{x[13]}}
								{% endif %}
								<!--If rqstTitle null, fetch rqstURL-->
								{% if x[13] == None %}
								{{x[10]}}
								{% endif %}

								<!--For finding priority request code-->
								{% set priorityCodeWord = namespace(word="None") %}
								{% if x[17] != None %}
								{% set xpcid = x[17] %}
								{% set xpcid = xpcid.strip() %}
								{% for pc in prioritydb %}
								{% set pcid = pc[0] %}
								{% set pcid = pcid.strip() %}
								{% if xpcid == pcid %}
								{% set priorityCodeWord.word = pc[1].strip() %}
								{% endif %}
								{% endfor %}
								{% endif %}
							</a>
						</h5>
					</div>

					<div id="collapse-{{ loop.index }}" class="collapse" role="tabpanel"
						aria-labelledby="heading-{{ loop.index }}" data-parent="#accordion-{{ loop.index }}">
						<div class="card-body">
							<label for="description"><span>Description:</span></label><textarea id="description"
								class="readonly-textarea-field" readonly>{{x[11]}}</textarea>

							<label for="formid"><span>Request ID:</span></label><input type="text" id="formid"
								value="{{x[1]}}" name="formID" class="readonly-input-field" readonly>
							<label for="requestor"><span>Requestor:</span></label><input type="text" id="requestor"
								value="{{x[4]}}" class="readonly-input-field" readonly>
							<label for="priority"><span>Priority:</span></label><input type="text" id="priority"
								value="{{priorityCodeWord.word}}" class="readonly-input-field" readonly>
							<label for="duedate"><span>Due Date:</span></label><input type="text" id="duedate"
								value="{{x[3]}}" class="readonly-input-field" readonly>

							<br><br>

							<script type="text/javascript">
								function showForm(unassignedID) {
									window.location = 'unassignedForm?form=' + unassignedID;
								}
							</script>

							<input type="button" name="theButton" value="Edit Form and Assign Analyst"
								onclick="showForm('{{x[1]}}');">
						</div>
					</div>
				</div>
			</div>

			{% endif %}
			{% endfor %}

		</div>
	</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!-- end page content -->
{% endblock %}