{% extends "site_base_layout.html" %}

{% block title %}Unassigned{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- begin page content -->
<div class="row">

    <a href="/">
        <image src="{{ url_for('static', filename = 'images/rowdy.png'   )}}" width=10%>

    </a>
    <div class="col-sm-12">
        <h1>UTSA OIR Data Requests</h1>
        <p>Some description here</p>
    </div>
    {% for x in db %}
    {% if x[1] == formID %}
    <!--Specify that the form should post its data
            to the /update route. We will also prepopulate the data.-->

    <!--For fetching rqstTitle-->
    {% if x[13] != None %}
    {% set request_title = x[13] %}
    {% endif %}
    <!--If rqstTitle null, fetch rqstURL-->
    {% if x[13] == None %}
    {% set request_title = x[10] %}
    {% endif %}


    <!--For finding priority request code-->
    {% set priorityCodeWord = namespace(word="None") %}
    {% if x[17] != None %}
    {% set xpcid = x[17] %}
    {% set xpcid = xpcid.strip() %}
    {% for pc in prioritydb %}
    {% set pcid = pc[0] %}
    {% set pcid = pcid.strip() %}
    {% if xpcid == pcid %}
    {% set priorityCodeWord.word = pc[1].strip() %}
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="form-style-1">
        <formtitle>Unassigned Request Form</formtitle>
        <form method="POST" action="./update">
            <!--Requestor section-->
            <section>
                <div class="form-style-1-heading">Requestor</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="requestor"><span>Name:</span></label><input type="text" id="requestor"
                                value="{{x[4]}}" class="readonly-input-field" readonly>
                            <label for="organization"><span>Organization:</span></label><input type="text"
                                id="organization" value="{{x[6]}}" class="readonly-input-field" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label for="phone"><span>Phone:</span></label><input type="text" id="phone" value="{{x[7]}}"
                                class="readonly-input-field" readonly>
                            <label for="email"><span>Email:</span></label><input type="text" id="email" value="{{x[9]}}"
                                class="readonly-input-field" readonly>
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br>

            <!--Request section-->
            <section>
                <div class="form-style-1-heading">Request</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="formid"><span>Request ID:</span></label><input type="text" id="formid"
                                value="{{formID}}" name="formID" class="readonly-input-field" readonly>
                            <label for="datesubmitted"><span>Submitted on:</span></label><input type="text"
                                id="datesubmitted" value="{{x[2]}}" class="readonly-input-field" readonly>
                        </div>
                        <div class="col-sm-6">
                            <label for="title"><span>Request Title:</span></label><input type="text" id="title"
                                value="{{request_title}}" class="readonly-input-field" readonly>
                            <label for="duedate"><span>Due Date:</span></label><input type="text" id="duedate"
                                value="{{x[3]}}" class="readonly-input-field" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="status"><span style="width: 60px;">Status:</span></label><input
                                        type="text" id="status" value="{{x[22]}}" class="readonly-input-field"
                                        style="width: 50%;" readonly>
                                </div>
                                <div class="col-sm">
                                    <label for="priority"><span style="width: 60px;">Priority:</span></label><input
                                        type="text" id="priority" value="{{priorityCodeWord.word}}"
                                        class="readonly-input-field" style="width: 50%;" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="assignanalyst"><span>Assign To:</span><select id="assignanalyst"
                                    name="newAssignedAnalyst" class="select-field" style="width: 60%;">
                                    <option value="{{x[16]}}">{{x[16]}}</option>
                                    {% for analyst in analystList %}
                                    <option value="{{analyst[3]}}">{{analyst[3]}}</option>
                                    {% endfor %}
                                </select></label>
                        </div>
                    </div>
                    <br>
                    <label for="description"><span>Description:</span></label><textarea id="description"
                        class="readonly-textarea-field" readonly>{{x[11]}}</textarea>
                    <label for="notes"><span>Notes:</span></label><textarea id="notes" value="{{x[19]}}" name="newNotes"
                        class="textarea-field">{{x[19]}}</textarea>

                    <input type="submit" value="Update and Notify Analyst">
                </div>
            </section>
            <br><br><br>


            <!--Assignment section-->
            <!--<section>
                <div class="form-style-1-heading">Assignment</div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="assignanalyst"><span>Assigned To:</span></label><input type="text"
                                id="assignanalyst" value="{{x[16]}}" name="newAssignedAnalyst" class="input-field"
                                style="width: 30%;">
                            <input type="submit" value="Update and Notify Analyst">
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div>
            </section>-->
        </form>
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
</div>
<!-- end page content -->
{% endblock %}